@import "../config/config";

.heading1 {
  font-size: 34px;
}

.heading3 {
  font-size: 22px;
}

.content-text {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.t-accent1 {
  color: $t-accent1;
}

.t-light {
  color: $t-light;
}

.t-danger {
  color: $t-danger;
}

.t-success {
  color: $t-success;
}

.fw700 {
  font-weight: 700;
}

.fw400 {
  font-weight: 400;
}
