<header class="header">
  <div class="container header__content">
    <a href="#"
       class="app-logo">Dev Camper</a>

    <ul class="auth-actions">
      <li class="auth-actions__item">
        <a href="#"
           class="auth-action">
          <i class="fas fa-sign-in-alt"></i>
          <span class="auth-action__text">Login</span>
        </a>
      </li>

      <li class="auth-actions__item">
        <a href="#"
           class="auth-action">
          <i class="fas fa-user-plus"></i>
          <span class="auth-action__text">Register</span>
        </a>
      </li>
    </ul>
  </div>
</header>
