@import "../../../theme/styles/config/config";

.boot-camp {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;

  app-spinner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.boot-camp__container {
  display: flex;
  justify-content: space-between;
}

.boot-camp__content {
  width: 60%;
}

.boot-camp__sidebar {
  width: 35%;
}

.boot-camp__title {
  margin-bottom: 20px;
}

.boot-camp__description {
  margin-bottom: 20px;
}

.boot-camp__cost {
  margin-bottom: 40px;
}

.courses__item {

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.course__header {
  background-color: $accent1;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course__body {
  padding: 10px 15px;
  border: 1px solid $accent1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course__duration {
  margin-bottom: 10px;
}

.course__description {
  margin-bottom: 25px;
}

.course-feature {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: $accent1;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.boot-camp__photo {
  padding-top: percentage(423 / 640);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.boot-camp__feature {
  border-bottom: 1px solid $accent1;
  padding-bottom: 10px;

  .fas {
    display: inline-block;
    width: 20px;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
