@import "../../../theme/styles/config/config";

:host {
  flex: 1;
  background-image: linear-gradient(to right, rgba($dark, .96), transparent), url('../../../../assets/white-android-smartphone-near-grey-laptop-computer.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
